body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

main > div, footer, header  {
    padding: 0 300px;
}

.fl-co {
    display: flex;
    flex-direction: column;
}

.fl-ro {
    display: flex;
    flex-direction: row;
}

/* Sections */

header, footer, .hero {
    background-color: #1F2937;
}

.info {
    background-color: #fff;
}

.quote {
    background-color: #E5E7EB;
}

.info, .quote {
    color: #1F2937;
}

/* Sections */

/* Header */

header {
    justify-content: space-between;
    align-items: baseline;
}

.nav-links {
    gap: 3ch;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    
}

.nav-links {
    list-style-type: none;
}

.nav-links a {
    color: none;
    text-decoration: none;
}

/* Header */

/* Hero */

.logo, .hero-text h1{
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-text, .nav-links a, .hero-image {
    font-size: 18px;
    color: #E5E7EB;
}

.hero > .hero-text > * {
    margin: 7px 0;
}

.hero-image {
    background-color: #aaa;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: auto;
}

.hero {
    justify-content: center;
    padding: 100px 300px;
    gap: 20px;
}

.hero div {
    flex: 1;
}

/* Hero */

/* Buttons */

button {
    color: #fff;
    background-color: #3882F6;
    border: 1px solid #3882f6;
    border-radius: 6px;
    padding: 6px 32px;
    font-size: 18px;
    font-weight: 700;
}

/* Buttons */